@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0; }

h1 {
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 80px;
  color: #283790; }

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #000000; }

.body {
  height: 125vh;
  background-size: cover;
  margin-top: 80px;
  padding: 30px; }

.hero {
  position: absolute;
  width: 1444px;
  height: 483px;
  left: -100px;
  background: #FF81A0;
  border-radius: 55px; }
  .hero .hero-text {
    padding-top: 100px;
    margin-left: 60px; }
  .hero .hero-subtext {
    margin-left: 125px; }

.footer {
  background: #283790; }
