@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
$breakpoint-tablet: 768px;
$font-stack: 'Work Sans', sans-serif;
$font-big: 'Poppins', sans-serif;
$font-reg: 'Roboto', sans-serif;
$reg: 400;
$med: 500;
$bold: 700;
$black: 900;

$darkblue: #283790;
$lightblue: #92C9F1;
$pink: #FF81A0;
$black: #000000;
$white: #FFFFFF;
